//TIPOGRAFIA
$fuentePrincipal: "Inter", sans-serif;
//COLORES
$rojo: #ae0605;
$rosa: #d21314;
$azul: #0263fb;
$azulO: #06065c;
$negro: #000c2b;
$gris: #3a3939;
$blanco: #ebeaea;
//DIMENSIONES
$telefono: 480px;
$tablet: 768px;
$desktop: 900px;
$desktopXL: 1200px;
