@use "base/variables" as v;
@use "base/mixins" as m;

.campos {
  background-color: v.$azulO;
  color: v.$blanco;
  display: flex;
  flex-direction: column;
  padding: 3% 10%;

  .campos-content,
  .campos-icon {
    display: flex;
    justify-content: center;
    gap: 8%;
    align-items: center;

    .icon-card {
      background-color: v.$blanco;
      border-radius: 10%;
      text-align: center;
      padding: 1% 0;
      width: 100%;
      min-height: 100%;
      box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.5);
      transition: all 0.7s;

      &:hover {
        padding: 2%;
        box-shadow: 10px 15px 5px 5px rgba(0, 0, 0, 0.5);
        border: 0.5rem outset v.$rosa;
      }
    }

    h4 {
      color: v.$negro;
      margin: 5%;
    }
  }

  .campos-icon {
    padding-top: 5%;
    margin: 0 auto;
    width: 80%;
  }

  & p {
    color: v.$blanco;
    padding: 0 10%;
  }
}
