@use '../base/mixins' as m;
@use '../base/variables' as v;

.footer{
    background-color: black;
    .footer-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        nav{
            display: flex;
            justify-content: center;
            gap: 2rem;
            border-bottom: 0.2rem solid rgb(59, 59, 59);
            padding: 1rem;
            width: 80%;
            a{
                transition: all 0.2s;
                &:hover{
                    color:rgb(59, 59, 59);
                }
            }
        }
        a{
            color: v.$blanco;
            font-size: 2rem;
 
        }
        .logo{
            margin-top: 2rem;
            width: 8%;
        }
        .border{
            border-bottom: v.$blanco;
        }
    }

    .footer-info{
        @include m.grid(3,0);
        width: 80%;
        padding: 0.5rem;
        align-items: center;
        margin-top: 1rem;
        margin: 0 auto;
        .footer-text{
            margin: 0 auto;
            p{
                color: #ffff;
                text-align: center;
                font-size: 1.5rem;
            }
        }

        h4{
            color: #fff;
            margin: 0 auto;
            font-size: 1.5rem;
        }

        .footer-redes{
            display: flex;
            gap: 1.5rem;
            margin: 0 auto;
            padding: 0.1rem;
            svg{
                background-color: rgb(58, 57, 57);
                border-radius: 50% ;
                padding: 0.5rem;
                transition: all 0.7s;
                &:hover{
                    background-color: rgb(126, 126, 126);
                    background-color: black;  
                    transform: scale(1.2);      
                }
            }
        
        }


    }

}