@use "base/mixins" as m;
@use "base/variables" as v;

.nosotros {
  display: flex;
  padding: 3% 10%;
  gap: 15%;
  align-items: center;

  .text {
    color: v.$azulO;

    h2 {
      padding-bottom: 1%;
      transition: all 1s;
    }

    p {
      padding: 0 10%;
    }
  }

  picture {
    width: 100%;
  }

  &:hover {
    .text h2 {
      border-bottom: .7rem solid v.$rosa;
    }
  }
}
