@use "base/mixins" as m;
@use "base/variables" as v;

.nosotros {
  display: flex;
  padding: 3% 10%;
  gap: 15%;
  align-items: center;

  .text {
    color: v.$azulO;

    & p {
      padding: 0 10%;
    }
  }

  picture {
    width: 100%;
  }
}
