@use "../base/variables" as v;
@use '../base/mixins' as m;

.slide {
  position: relative;
  box-shadow: 0 7px 13px rgb(0 0 0 / 50%);
  .slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 650px;
    .slide-open:checked + .slide-item {
      position: relative;
      opacity: 100;
    }
    .slide-item {
      position: absolute;
      opacity: 0;
      -webkit-transition: opacity 1.2s ease-in;
      transition: opacity 1.2s ease-in;
      height: 100%;
      width: 100%;
      img{
        width: 8%;
        position: relative;
        bottom: 14%;
        left: 90%;
        @include m.desktopXL{
          bottom: 16%;
        }
        @include m.desktop{
          width: 10%;
          bottom: 11%;
        }
        @include m.tablet{
          width: 15%;
          bottom: 11%;
          left: 83%;
        }
        @include m.telefono{
          width: 12%;
          bottom: 8%;
          left: 84%;
        }

      }
      .banner1-image{
        background-image: url(../img/banner1.webp);
        background-repeat: no-repeat;
        background-size: cover;
        height: 102%;
        width: 105%;
        margin-left: -1%;
        @include m.desktop{
          margin-left: -2%;    
          background:  rgba(0, 0, 0, 0.77) url(../img/banner1cel.webp);
          background-size: cover;
          background-position-x: center;  
          background-blend-mode: darken;
        }
        img{
          width: 20%;
        }
        .banner-info {
          display: flex;
          flex-direction: column;
          gap: 5rem;
          width: 50%;
          align-items: center;
          position: absolute;
          margin: 7.4% 0;
          @include m.desktop{
            left: 10%;
            width: 60%;
          }
          @include m.tablet{
            top: 7%;
            gap: 3rem;
            width: 90%;
            left: 6%;
          }

          @include m.telefono{
            left: 4%;
            gap: 2rem;
            width: auto;
            margin: 0;
            top: 10%;
          }
          
          h2 {
            width: auto;
            text-align: center;
            margin: 0;
            color: v.$blanco;
            font-size: 7rem;
            @include m.telefono{
              width: 95%;
              font-size: 5rem;
            }
          }
          p {
            width: 70%;
            text-align: center;
            color: v.$blanco;
            line-height: 3rem;
            font-size: 2.5rem;
            font-weight: 600; 
            @include m.telefono{
              width: 60%;
              font-size: 2rem;
            }
          }
          input {
            color: v.$rosa;
            padding: 1.3rem;
            width: 25rem;
            border-radius: 10px;
            font-weight: bold;
            font-size: 2rem;
            text-align: center;
            transition: all .7s;
            border: none;
            &:hover{
              cursor: pointer;
              background-color: v.$rosa;
              color: v.$blanco;
      
            }
          }
        }

      }
      .banner2-image{
        background-image: url(../img/banner2.webp);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
        @include m.desktop{
          background:  rgba(0, 0, 0, 0.77) url(../img/banner3cel.webp);
          background-size: cover;
          background-position-x: center; 
          background-blend-mode: darken;

          
        }
        .banner2-info {
          display: flex;
          flex-direction: column;
          gap: 4rem;
          width: 50%;
          align-items: center;
          position: relative;
          left: 2%;
          top: 16%;
          @include m.desktop{
            margin: 0;
            top: 5%;
            gap: 2rem;
          }
          @include m.tablet{
            top: 9%;
            gap: 3rem;
            width: 100%;
          }

          @include m.telefono{
            left: 2%;
            gap: 2rem;
            margin: 0;
            top: 9%;
            width: auto;
          }


          h2 {
            width: auto;
            text-align: center;
            margin: 0;
            color: v.$blanco;
            font-size: 7rem;
            @include m.tablet{
              width: 85%;
            }
            @include m.telefono{
              width: 95%;
              font-size: 4.5rem;
            }
            
          }
          p {
            width: 65%;
            text-align: center;
            color: v.$blanco;
            line-height: 3rem;
            font-size: 2.5rem;
            font-weight: 600;
            @include m.tablet{
              width: 73%;
            }
            @include m.telefono{
              width: 60%;
              font-size: 2rem;
            }
          }
          input {
            color: v.$rosa;
            padding: 1.3rem;
            width: 25rem;
            border-radius: 10px;
            cursor: pointer;
            font-weight: bold;
            font-size: 2rem;
            text-align: center;
            transition: all .7s;
            border: none;
            &:hover{
              background-color: v.$rosa;
              color: v.$blanco;
            }
          }
          .banner-redes{
            display: flex;
            gap: 17%;
            align-items: center;
            position: relative;
            right: 4%;
            @include m.desktop{
              right: 6%;
            }
            @include m.tablet{
              right: 4%;
            }
            @include m.telefono{
              right: 10%;
            }

            .red1{
              img{
                width: 6rem;
                height: 4.6rem;
              }
            }
            img{
              width: 7rem;
              height: 5rem; 
            }
          }
        }
      }
      .banner3-image{
        background-image: url(../img/banner3.webp);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
        @include m.desktop{
          background:  rgba(0, 0, 0, 0.77) url(../img/banner2cel.webp);
          background-size: cover;
          background-position-x: center;
          background-blend-mode: darken; 
        }
        .banner3-info {
          display: flex;
          flex-direction: column;
          gap: 5rem;
          width: 50%;
          align-items: center;
          position: absolute;
          margin: 8.2% 0;
          left: 48%;
          @include m.tablet{
            top: 7%;
            gap: 3rem;
            left: 0;
            width: 100%;
          }
          @include m.telefono{
            gap: 2rem;
            top: 6%;
            width: auto;
          }
          h2 {
            width: auto;
            text-align: center;
            margin: 0;
            color: v.$blanco;
            font-size: 7rem;
            @include m.telefono{
              width: 90%;
              font-size: 5rem;
            }
          }
          p {
            width: 70%;
            text-align: center;
            color: v.$blanco;
            line-height: 3rem;
            font-size: 2.5rem;
            font-weight: 600;
            @include m.telefono{
              width: 60%;
              font-size: 2rem;
            }

          }
          input {
            color: v.$rosa;
            padding: 1.3rem;
            width: 25rem;
            border-radius: 10px;
            cursor: pointer;
            font-weight: bold;
            font-size: 2rem;
            text-align: center;
            font-size: 2rem;
            text-align: center;
            transition: all .7s;
            border: none;
            &:hover{
              background-color: v.$rosa;
              color: v.$blanco;
            }
          }
        }
      }

    }
    .slide-control {
      background-color: v.$blanco;
      opacity: 0.5;
      cursor: pointer;
      display: none;
      font-size: 45px;
      height: 50px;
      line-height: 35px;
      position: absolute;
      top: 50%;
      cursor: pointer;
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      text-align: center;
      width: 50px;
      z-index: 0;
      @include m.telefono{
        background-color: transparent;
      }

      &:hover {
        background-color: v.$gris;
        opacity: 1;
        @include m.telefono{
          background-color: transparent;
          
        }
        
      }

      label {
        display: block;
        height: 100%;
        align-items: center;
        cursor: pointer;
        position: relative;
        top: 10%;
        @include m.telefono{
          color: #fff;
        }
      }
    }
    .slide-control.prev {
        left: 2%;
    }

    .slide-control.next {
      right: 2%;
    }
    #slide-1:checked ~ .control-1,
    #slide-2:checked ~ .control-2,
    #slide-3:checked ~ .control-3 {
      display: block;
      border-radius: 50%;
      @include m.telefono{
        width: 10%;
        height: 7%;
      }
    }
    .slide-indicador {
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      bottom: 2%;
      width: 20%;
      left: 40%;
      text-align: center;
      z-index: 0;
      @include m.tablet{
        display: flex;
      }
      @include m.telefono{
        left: 35%;
      }
      li {
        display: inline-block;
        margin: 0 5px;
      }

      .slide-circulo {
        color: #828282;
        cursor: pointer;
        display: block;
        font-size: 5rem;
        position: relative;
        top: 1.5rem;
        &:hover {
          color: #aaaaaa;
        }
      }
    }
  }
}

#slide-1:checked ~ .control-1 ~ .slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked
  ~ .control-3
  ~ .slide-indicador
  li:nth-child(3)
  .slide-circulo {
  color: v.$rojo;
}
