@use "base/mixins" as m;
@use "base/variables" as v;
.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(#000c2b, 0.5);
  display: none;

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 80%;
    padding: 5% 8%;
    opacity: 0;
    transition: all 0.7s;

    img {
      height: 22rem;
      width: 60rem;
      margin: 0 auto;
      border-radius: 10px;

      @include m.tablet {
        height: 10rem;
        width: 30rem;
      }
    }

    h2 {
      color: v.$rosa;
      margin: 0;
      @include m.tablet {
        font-size: 2.5rem !important;
      }
    }

    p {
      display: block;
      color: v.$blanco;
      font-size: 2rem;
      @include m.tablet {
        font-size: 1.5rem;
      }
    }
  }

  .modal-close {
    color: v.$negro;
    background-color: v.$blanco;
    border: none;
    border-radius: 50%;
    font-size: 3rem;
    font-weight: 700;
    padding: 0.5% 1%;
    position: absolute;
    left: 48.5%;
    top: 90%;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      opacity: 0.8;
    }
  }
}
